@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0; 
    font-family: 'Kumbh Sans', sans-serif;
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
}
body{
    background-color:var(--Dark-cyan);
    background-image: url(images/bg-pattern-top.svg),url(images/bg-pattern-bottom.svg) ;
    background-repeat:no-repeat,no-repeat ;
    background-position:right 51vw bottom -68vh, left 47vw top 51.5vh;
}

.card{
    /* border: 1px solid cyan; */
    /* opacity: 0.5; */
    height: 21.4rem;
    width: 20.7rem;
   position: absolute;
   top: 51.2%;
   left: 50.6%;
   transform: translate(-50%,-50%);
   border-radius: 1rem;
}
.card-background{
    border-radius: 1rem 1rem 0 0;
    width: 100%;    
}
.card-middle {
    position: relative;
    bottom: 6.5px;
    text-align: center;
    height: 37%;
    background-color: white;
    border-bottom: 1px solid rgba(202, 200, 200, 0.322);
}
.profile-pic{
    position: relative;
    border:0.3rem solid white ;
    border-radius: 50%;
    height: 5.1rem;
    width: 5.1rem;
    bottom: 3rem;
    background-color: rgba(255, 255, 255, 0.911);
}
.intro{
    position: relative;
    bottom: 2.6rem;
    box-sizing: border-box;
}
.name{
    position: relative;
    margin-top: -0.1rem;
    font-weight: 700 ;
    font-size:1rem;
    padding: 0.9rem ;
    margin-left: -0.4rem;
}
.city{
    position: relative;
    margin-top: -0.19rem;
    font-weight: 400;
    font-size: 0.8rem;
    
}
#name{
    color: var(--Very-dark-desaturated-blue);
}
span{
    margin-left: 0.7rem;
    color: var(--Dark-grayish-blue)
}

/* footer styling */
footer{
    
    position: relative;
    bottom: 7px;
    height: 22%;
    box-sizing: border-box;
    padding-top: 2rem;
    background-color: white;
    border-radius: 0 0 1rem 1rem;
}
.stats-nos{
    list-style: none;
    display: flex;
    padding-inline-start: 0;
    font-weight: 700;
    font-size: 1rem;
    justify-content: space-evenly;
    padding-bottom: 10px;
    color: var(--Very-dark-desaturated-blue);
}
.stats-text{
    box-sizing: border-box;
    list-style: none;
    margin-top: -0.2rem;
    margin-left: -0.2rem;
    display: flex;
    font-weight: 400;
    font-size: 0.5rem;
    justify-content: space-evenly;
    letter-spacing: 2px;
    color: var(--Dark-grayish-blue);
}
.stats-text :nth-child(3){
    margin-left:12px;
}

@media(max-width:767px){

    .card{
        width: 18rem;
        height: 19rem;
        
    }
}
@media(max-width:360px){
    :root{
        font-size: 12px;
    }
    .card{
        width:22rem ;
        
    }
}

